In [ ]:
def apply_function(func, numbers):
    """Applies a given function to each number in the list."""
    return [func(number) for number in numbers]

def square(x):
    """Returns the square of a number."""
    return x ** 2

def cube(x):
    """Returns the cube of a number."""
    return x ** 3

numbers = [1, 2, 3, 4, 5]
squared_numbers = apply_function(square, numbers)
cubed_numbers = apply_function(cube, numbers)

print("Squared:", squared_numbers)
print("Cubed:", cubed_numbers)

Squared: [1, 4, 9, 16, 25]
Cubed: [1, 8, 27, 64, 125]

In [ ]:
def greet(name):
    """A simple greeting function."""
    return f"Hello, {name}!"

def greeting_decorator(func):
    """A decorator that adds 'Good Morning' before the greeting."""
    def wrapper(name):
        return f"Good Morning! {func(name)}"
    return wrapper

# Apply the decorator to the greet function
greet1 = greeting_decorator(greet)

# Now calling greet will include the 'Good Morning' part
print(greet1("Alice"))  # Output: Good Morning! Hello, Alice!

Good Morning! Hello, Alice!

In [ ]:
@greeting_decorator
def greet(name):
    """A simple greeting function."""
    return f"Hello, {name}!"

print(greet("Alice"))  # Output: Good Morning! Hello, Alice!

Good Morning! Hello, Alice!

In [ ]:
x = 5
x =2+x
x

7

In [ ]:
#function
x = 5
def operation(y):
  y = y+3
  y = y+2
  return y

print(x)
print(operation(x))
print(x)

5
10
5

#map()

In [ ]:
lst = [1,2,3,4,5] #square each element of the list and store the results in list

In [ ]:
def f(x):
  return x**2

In [ ]:
square = []
for i in lst:
  square.append(f(i))
print(square)

[1, 4, 9, 16, 25]

In [ ]:
#using list comprehension in a single line
square = [f(i) for i in lst]
print(square)

[1, 4, 9, 16, 25]

In [ ]:
#using map() function => map(function name, iterable)
list(map(f,lst))

[1, 4, 9, 16, 25]

In [ ]:
map(f,lst)

In [ ]:
tuple(map(f,lst))

(1, 4, 9, 16, 25)

In [ ]:
#use lambda
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25]

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
map(lambda x:x**2,20)

TypeError: 'int' object is not iterable

In [ ]:
list1 = [1, 0, 1]
list2 = [0, 0, 1]
res = list(map(lambda x, y:  x == y, list1, list2))

In [ ]:
res

[False, True, True]

In [ ]:
heights = [120,130,145,167,110,80,100,200]

In [ ]:
'''Convert given height to t-shirt size (Part I).
If height < 150 then M
If height >= 150 then L
Given input list heights'''

'Convert given height to t-shirt size (Part I).\nIf height < 150 then M\nIf height >= 150 then L\nGiven input list heights'

In [ ]:
def tshirt(h):
  if h<150:
    return 'M'
  else:
    return 'L'

In [ ]:
res = []
for i in heights:
  res.append(tshirt(i))
print(res)

['M', 'M', 'M', 'L', 'M', 'M', 'M', 'L']

In [ ]:
list(map(tshirt,heights))

['M', 'M', 'M', 'L', 'M', 'M', 'M', 'L']

In [ ]:
list(map(lambda h:'M' if h<150 else 'L',heights))

['M', 'M', 'M', 'L', 'M', 'M', 'M', 'L']

In [ ]:
'''Convert given height to t-shirt size (Part II).
If height < 150 then S
if height >=150 and <180 then M
If height >= 180 then L
Given input list heights'''

'Convert given height to t-shirt size (Part II).\nIf height < 150 then S\nif height >=150 and <180 then M\nIf height >= 180 then L\nGiven input list heights'

In [ ]:
def complex_logic(h):
  if h<150:
    return 'S'
  elif h>=150 and h<180:
    return 'M'
  else:
    return 'L'

In [ ]:
list(map(complex_logic,heights))

['S', 'S', 'S', 'M', 'S', 'S', 'S', 'L']

In [ ]:
list(map(lambda h:'S' if h<150 elif 'M' if h>=150 and h<180 else 'L',heights))

SyntaxError: expected 'else' after 'if' expression (<ipython-input-32-a473354ea33d>, line 1)

In [ ]:
list(map(lambda h: 'S' if h<150 else 'M' if h>150 and h<180 else 'L',heights))

['S', 'S', 'S', 'M', 'S', 'S', 'S', 'L']

# filter()

In [ ]:
lst = [10,11,12,13,14,15,16,18,20,11]
# filter out only the even elements => [10,12,14,16,18,20]

In [ ]:
def f(x):
  return x%2 == 0

In [ ]:
list(map(f,lst))

[True, False, True, False, True, False, True, True, True, False]

In [ ]:
list(filter(f,lst))

[10, 12, 14, 16, 18, 20]

In [ ]:
s = {1, 2, 5, 7, 2, 9}
print(s)
def f1(x):
    return x<6

m1 = filter(f1,s)
print(list(m1))

{1, 2, 5, 7, 9}
[1, 2, 5]

In [ ]:
s = [1, 2, 5, 7, 2, 9]
def f1(x):
    return x<6

m1 = filter(f1,s)
print(list(m1))

[1, 2, 5, 2]

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
#zip()

In [ ]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
a = [1,2,3]
b = ['a','b','c']
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
a = [1,2,3]
b = ['a','b','c','d','e']
list(zip(a,b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
a = [1,2,3]
b = ['a','b','c','d','e']
list(zip(a,b),strict = True)

TypeError: list() takes no keyword arguments

In [ ]:
a = [1,2,3]
b = ['a','b','c','d','e']
c = [5.0,6.7,8,9,7.8]
list(zip(a,b,c))

[(1, 'a', 5.0), (2, 'b', 6.7), (3, 'c', 8)]

In [ ]:
a = 'ab c'
b= [1,2,3,4]
c = (10,20,30,40)
list(zip(a,b,c))

[('a', 1, 10), ('b', 2, 20), (' ', 3, 30), ('c', 4, 40)]

In [ ]:
a = 20
b= [1,2,3,4]
c = (10,20,30,40)
list(zip(a,b,c))

TypeError: 'int' object is not iterable

#reduce()

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
def f(x,y):
  return x+y

In [ ]:
reduce(f,lst)

NameError: name 'reduce' is not defined

In [ ]:
from functools import reduce

In [ ]:
reduce(f,lst)

15

In [ ]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.

In [ ]:
s = ['a','b','c','d']
reduce(f,s)

'abcd'

In [ ]:
lst

[1, 2, 3, 4, 5]

In [ ]:
reduce(f,lst,50)

65

In [ ]:
#quiz
# Given the lists a = [1, 2, 3] and b = ["a", "b"], what will be the result of list(zip(a,b))

In [ ]:
arr = 'abcd'

In [ ]:
help(reversed)

Help on class reversed in module builtins:

class reversed(object)
 |  reversed(sequence, /)
 |
 |  Return a reverse iterator over the values of the given sequence.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __length_hint__(...)
 |      Private method returning an estimate of len(list(it)).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
list(reversed(arr))

['d', 'c', 'b', 'a']

In [ ]:
"".join(reversed(arr))

'dcba'

In [ ]:
list( filter( lambda x: (x =="".join( reversed(x))), arr))

['a', 'b', 'c', 'd']

In [ ]:
'n a s r e e n'.split()

['n', 'a', 's', 'r', 'e', 'e', 'n']

In [ ]:
'@'.join('n a s r e e n'.split())

'n@a@s@r@e@e@n'

In [ ]:
def f(x,y):
  return (x**2)+(y**2)